
.device-attribute {
    position        : relative;
    display         : flex;
    flex-direction  : row;
    height          : 30px;
}

.device-attribute-name {
    margin          : auto 10px auto 0;
    user-select     : none;
}

.device-params {
    margin : auto 0;
}
