
.device-attribute {
    position        : relative;
    display         : flex;
    flex-direction  : row;
    max-height      : 20px;
}

.device-attribute-name {
    margin          : auto 10px auto 0;
    user-select     : none;
}
