.device-body {
    display : flex;
}

.device-icon {
    width   : 150px;
    height  : 150px;
    margin  : auto 10px;
}

.device-info {
    margin-top  : 10px;
    width       : 50%;
}

.device-attributes {
    flex-direction : column;
    display: flex;
    flex-grow:1;
}
