.hub-body {
    display : flex;
}

.hub-icon {
    width   : 100px;
    height  : 100px;
    background-image    : url('../assets/hub/hub-icon.png');
    background-size     : contain;
}

.hub-data {

}

.hub-mode-toggle {
}

.hub-discover-button {
    margin-left     : auto;
    margin-right    : 10px;
}

.hub-active-icon {
    position    : absolute;
    left        : 10px;
    top         : 10px;
    width       : 20px;
    height      : 20px;
    border              : 1px solid rgba(110, 226, 110, 0.7);
    border-radius       : 50%;
    background-color    : rgba(110, 226, 110, 0.7);
}

.hub-hide-active-icon {
    display : none;
}
