
.widget-panel {
    width               : 50%;
    background-color    : #FFFFFF;
    border-color        : #DDDDDD;
    border              : 1px solid transparent;
    border-radius       : 2px;
    box-shadow          : 0 1px 1px rgba(0, 0, 0, 0.05);
}

.widget-header {
    color               : #333333;
    background-color    : #F5F5F5;
    border-color        : #DDDDDD;
    width               : 100%;
    text-align          : left;
    border-radius       : 0;
}

.widget-body {
    border-top-color: #DDDDDD;

}
