.event-frame {
    position    : relative;
    display     : flex;
    height      : 100px;
    padding     : 4px 2px;
    border      : 1px solid rgba(0, 0, 0, 0.1);
}

.event-icon {

}

.event-body {
    display         : flex;
    flex-direction  : row;
}

.event-info {
    margin: 0 2px;
}

.event-time {
    position            : absolute;
    font-size           : 10pt;
    padding             : 2px 8px;
    top                 : 10px;
    right               : 10px;
    color               : rgba(0, 0, 0, 0.5);
    background-color    : rgba(0, 0, 0, 0.1);
    border-radius       : 6px;
    user-select         : none;
    cursor              : default;
}
